html {
  background-color: rgba(0, 0, 0, 0.582);
  font-family: 'Crimson Text', serif;
}

#root {
  background-color: rgba(0, 0, 0, 0.582);
}

.firstContainer {
  padding-top: 10px;
}

.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  border-radius: 50%;
}

.biggerBox {
  align-items: center;
  margin: 10px;
  border: 2px solid rgba(255, 72, 102, 0.856);
  border-radius: 25px;
}

.contentImageBox {
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
  padding: 10px;
}

.contentImage {
  display: block;
  height: 200px;
  width: 200px;
  margin: 6px;
}

.contentImage:hover{
  transform: scale(1.05,1.05);
  transition: 0.5s;
  box-shadow: 5px 4.5px rgba(0, 0, 0, 0.65) ;
}

.profileImage {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.profileImage {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.biggerBox1 {
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 25px;
}


.masonry { 
  column-count: 4;
  column-gap: 1em;
}

.item { 
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.Link {
  color: black;
  font-size: 5em;
}

.Link:hover {
  color: darkblue
}

.username {
  font-size: 4em;
}

.space {
  margin-right: 5px;
}

.preview {
  width: 30vw;
  margin: 10px auto;
  padding: 20px;
  border-radius: 30px;
  border:2px solid rgba(245, 245, 245, 0.411);
}

